<div class="grid-container">
    <h1 class="mat-h1">Dashboard</h1>
    <mat-grid-list [cols]="4">
        <mat-grid-tile>
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        Number Of Books
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    {{numberOfBooks}}
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        Number Of Traffics
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    {{numberOfTraffics}}
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        Number Of Users
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    {{numberOfReaders}}
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        Number Of Admin
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    {{numberOfAdmins}}
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <div *ngIf="!isLoadingChart" class="">
        <div class="title"></div>
        <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions">
        </highcharts-chart>
    </div>
</div>
