<div class="content">
    <mat-card>
        <vngcls-info-container>
            <div class="container-content">
                <vngcls-column-info>
                    <div vnCol [hugContent]="true">
                        <div vnGrid class="pair-item">
                            <div vnCol="30" class="title">Title</div>
                            <div vnCol="70" class="value">{{ selectedOldBook.virtualBook.name}}</div>
                        </div>
                        <mat-divider></mat-divider>
                        <div vnGrid class="pair-item">
                            <div vnCol="30" class="title">Author</div>
                            <div vnCol="70" class="value">{{ selectedOldBook.virtualBook.authorId}}</div>
                        </div>
                        <mat-divider></mat-divider>
                        <div vnGrid class="pair-item">
                            <div vnCol="30" class="title">Condition</div>
                            <div vnCol="70">{{selectedOldBook.condition}}</div>
                        </div>
                        <mat-divider></mat-divider>
                        <div vnGrid class="pair-item">
                            <div vnCol="30" class="title">Condition Description</div>
                            <div vnCol="70" class="value">{{ selectedOldBook.conditionDesc}}</div>
                        </div>
                        <mat-divider></mat-divider>
                        <div vnGrid class="pair-item">
                            <div vnCol="30" class="title">Point</div>
                            <div vnCol="70" class="value">{{ selectedOldBook.point}}</div>
                        </div>
                    </div>
                    <div vnCol [hugContent]="true">
                        <div vnGrid class="pair-item">
                            <div vnCol="30" class="title">Image</div>
                            <div vnCol="70" class="value">
                                <div *ngFor="let imageUrl of selectedOldBook.imageUrl" class="image-container"
                                     (click)="openImageModal(imageUrl)"
                                >
                                    <img [src]="imageUrl" alt="Book Image">
                                </div>
                            </div>
                        </div>
                    </div>
                </vngcls-column-info>
            </div>
        </vngcls-info-container>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-card>
        <app-base-bar>
            <app-bb-main-bar>
                <div class="left-section page-header">
                    <div class="page-title">Old Book List</div>
                </div>
            </app-bb-main-bar>
        </app-base-bar>

        <div class="table-container">
            <table mat-table [dataSource]="selectedOldBook.oldBook" class="orders-table mat-elevation-z10">
                <ng-container matColumnDef="uuid">
                    <th mat-header-cell *matHeaderCellDef> Uuid</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.uuid}}
                    </td>
                </ng-container>

                <!-- Hub Id Column -->
                <ng-container matColumnDef="hubId">
                    <th mat-header-cell *matHeaderCellDef>Available At Hub</th>
                    <td mat-cell
                        *matCellDef="let element"> {{element.isAtHub ? element.hubId : "Not Available At Hub"}} </td>
                </ng-container>

                <ng-container matColumnDef="history">
                    <th mat-header-cell *matHeaderCellDef>History</th>
                    <td mat-cell *matCellDef="let element">
                        <a mat-button (click)="openHistoryModel(element)">
                            History
                        </a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </div>
    </mat-card>
</div>
