@import "src/assets/color/color-variables.scss";

.image-container {
    margin-top: 10px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    color: $color-grey-850-100;

    > * {
        vertical-align: middle;
    }
}

.value {
    font-size: 20px;
    font-weight: 400;
    color: $color-grey-600-100;

    > * {
        vertical-align: middle;
    }
}

mat-card {
    margin: 10px 5px;
}



