.order-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
}

.image-container {
  margin-top: 10px;
}

.sticky-footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: sticky;
  bottom: 0;
}





