<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav>
        <mat-nav-list (click)="sidenav.close()">
            <a mat-list-item [routerLink]="'overview'">
                Overview
            </a>
            <a mat-list-item [routerLink]="'users'">User</a>
            <a mat-list-item [routerLink]="'exchange'">Exchange</a>
            <a mat-list-item [routerLink]="'books'">Books</a>
            <a mat-list-item [routerLink]="'old-books'">Old Books</a>
            <a mat-list-item [routerLink]="'hub'">Hub</a>
        </mat-nav-list>
    </mat-sidenav>


    <mat-toolbar color="primary">

        <button mat-icon-button (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>
        </button>

        <a mat-button [matMenuTriggerFor]="dropdown">
            Screens
        </a>

        <mat-menu #dropdown>

            <button mat-menu-item routerLink="/">Courses</button>

            <button mat-menu-item routerLink="/about">About</button>

        </mat-menu>


        <a mat-button>
            <mat-icon>person_add</mat-icon>
            Register
        </a>

        <a mat-button>
            <mat-icon>account_circle</mat-icon>
            Login
        </a>

    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>


</mat-sidenav-container>
