<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav>
        <mat-nav-list (click)="sidenav.close()">
            <a mat-list-item [routerLink]="'overview'">
                Overview
            </a>
            <a mat-list-item [routerLink]="'users'">
                <span class="aligned--item aligned--item__center flex--gap__5">
                    <mat-icon>person</mat-icon>
                    User
                </span>
            </a>
            <a mat-list-item [routerLink]="'exchange'">
                <span class="aligned--item aligned--item__center flex--gap__5">
                    <mat-icon>book_4</mat-icon>
                    Exchange
                </span>
            </a>
            <a mat-list-item [routerLink]="'books'">
                <span class="aligned--item aligned--item__center flex--gap__5">
                    <mat-icon>book_5</mat-icon>
                    Books
                </span>
            </a>
            <a mat-list-item [routerLink]="'old-books'">
                <span class="aligned--item aligned--item__center flex--gap__5">
                    <mat-icon>library_books</mat-icon>
                    Old Books
                </span>
            </a>
            <a mat-list-item [routerLink]="'hub'">
                <span class="aligned--item aligned--item__center flex--gap__5">
                    <mat-icon>hub</mat-icon>
                    Hub
                </span>
            </a>
        </mat-nav-list>
    </mat-sidenav>


    <mat-toolbar color="primary" class="toolbar">
        <button mat-icon-button (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>
        </button>

        <a (click)="signOut()" mat-button>
            <mat-icon>account_circle</mat-icon>
            Sign out
        </a>

    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>


</mat-sidenav-container>
