<mat-card>
    <vngcls-info-container>
        <div class="container-content">
            <vngcls-column-info>
                <div vnCol [hugContent]="true">
                    <div vnGrid class="pair-item">
                        <div vnCol="30" class="title">Hub Uuid</div>
                        <div vnCol="70" class="value">{{ selectedHub.hub.uuid}}</div>
                    </div>
                    <mat-divider></mat-divider>
                    <div vnGrid class="pair-item">
                        <div vnCol="30" class="title">Hub Name</div>
                        <div vnCol="70" class="value">{{ selectedHub.hub.name}}</div>
                    </div>
                    <mat-divider></mat-divider>
                    <div vnGrid class="pair-item">
                        <div vnCol="30" class="title">Address</div>
                        <div vnCol="70" class="value">{{ selectedHub.hub.address}}</div>
                    </div>
                    <mat-divider></mat-divider>
                    <div vnGrid class="pair-item">
                        <div vnCol="30" class="title">Phone Number</div>
                        <div vnCol="70">{{selectedHub.hub.phoneNumber}}</div>
                    </div>
                    <mat-divider></mat-divider>
                    <div vnGrid class="pair-item">
                        <div vnCol="30" class="title">Number Of Old Book</div>
                        <div vnCol="70" class="value">{{ selectedHub.oldBook.length}}</div>
                    </div>
                    <mat-divider></mat-divider>
                </div>
            </vngcls-column-info>
        </div>
    </vngcls-info-container>
</mat-card>
