<div class="body">
  <div class="standard-content no-padding-h">
    <div class="not-found">
      <div class="title">Page not found</div>
      <div class="description">
        We can’t find the page you are looking for. Click the buttons below to back to Overview or to
        where it all went wrong.
      </div>
      <div class="cta">
        <a type="button" routerLink="/overview">
          <span>Go to Overview</span>
        </a>
        <!--                        <span>or</span>-->
        <!--                        <button type="button" vngclsBtn background="translucent" color="close" (click)="goBack()">-->
        <!--                            <vuf-icon name="back"></vuf-icon>-->
        <!--                            <span>Go back</span>-->
        <!--                        </button>-->
      </div>
    </div>
    <div class="illustration">
      <img src="assets/imgs/not-found-illustration.svg">
    </div>
  </div>
</div>
